numpy~=1.25.2
keras~=2.15.0
matplotlib~=3.8.0
scipy~=1.11.3
pandas~=2.0.3
scikit-learn~=1.3.0
tensorflow~=2.15.0
emd~=0.6.2
statsmodels~=0.14.0
torch~=2.1.0
energyusage
numba~=0.58.0
prophet~=1.1.5
umap
PyWavelets~=1.5.0
h5py~=3.9.0
python-dateutil~=2.8.2
dtaidistance~=2.3.11
tsgm~=0.0.4
pykalman~=0.9.5
seaborn~=0.13.0
emd
psutil~=5.9.7
plotly~=5.18.0